{% if builder.searchHelpers %}
    <select id="search-dataTable-{{ builder.name }}">
        <option value="" selected="selected" >Search utils</option>
        {% for key, value in builder.searchHelpers %}
            <option value="{{ key }}">{{ value|trans({}, builder.translationDomain) }}</option>
        {% endfor %}
    </select> 
{% endif %}

<table id="dataTable-{{ builder.name }}" class="nhcsam_dataTable table table-stripped table-hover">
        <thead>
            <tr>
                {% if builder.hasViewColumn %}
                    <th>{{ 'View' }}</th>
                {% endif %}
                {% for col in builder.columns %}  
                    <th>{{ col.label | trans({}, col.translationDomain)}}</th>       
                {% endfor %}
            </tr>
        </thead>
    {% if builder.useClientSide %}
        <tbody>
          {% for entity in builder.allEntities %}
                <tr>
                    {% if builder.hasViewColumn %}
                        <td>
                            {{ builder.viewLink(builder.viewUrl(entity))|raw }}
                        </td>
                    {% endif %}
                    {% for col in builder.columns %}  
                        <td>{{ col.value(entity)|trans({}, col.translationDomain)|raw }}</td>       
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    {% endif %}
</table>
